.header{
    display: flex;
    height:  57px;
    background-color: white;
    border-bottom: 1px solid #dedede;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.left-sec{
    display: flex;
    align-items: center;
}
.ham-menu{
    height: 24px;
    width: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.YT-logo{
    width: 90px;
    height: 20px;
}
.rigth-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 182px;
    margin-right: 24px;
    margin-left: 29px;
    flex-shrink: 0;
}
.create-icon{
    width: 24px;
    height: 24px;
}
.YT-apps{
    height: 24px;
    width: 24px;
}
.bell{
    height: 24px;
    width: 24px;
}
.my-chan{
    height: 36px;
    border-radius: 18px;
}

.mid-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 470px;
    margin-left: 60px;
}
.search-bar{
    height: 40px;
    flex: 1;
    border: 1px solid #cccccc;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 16px;
    padding: 0;
    padding-left: 12px;
    min-width: 0;
    box-shadow: inset 0px 1px 2px #eeeeee;
    width: 0;
}
.search-btn{
    width: 64px;
    height: 42px;
    border: 1px solid #cccccc;
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #f7f7f7;
    cursor: pointer;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-img{
    height: 24px;
}
.voice-btn{
    height: 42px;
    width: 42px;
    border-radius: 21px;
    border: none;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.micro{
    height: 24px;
}
